* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  /* padding-left: 20px;
  padding-right: 20px; */
  /* background-color: gray; */
}

html {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

@keyframes roll {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.chat-icon {
  position: fixed;
  bottom: 20px;
  left: 20px;
  /* background-color: #4caf50; */
  color: green;
  padding: 0px;
  border-radius: 45%;
  
  height: auto;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  animation: roll 4s linear; /* Removed 'infinite' to play only once */
  font-size: 40px;
}

.chat-icon.rolled {
  animation: none; /* Disable animation after it has played once */
  transform: rotate(360deg); /* Ensure the icon stays rotated after the animation ends */
}

.chat-icon:hover {
  background-color: #45a049;
}

@media only screen and (max-width: 600px) {
  .chat-icon {
    bottom: 10px;
    left: 10px;
    font-size: 30px; /* Adjust the font size or any other styles for smaller screens */
  }
}







@media screen and (max-width: 768px) {

  html {
    overflow-x: hidden;
  }

  body {
    overflow-x: hidden;
  }

}


@media screen and (max-width: 360px) {

  body {
    overflow-x: hidden;
  }

}

@media screen and (max-width: 320px) {

  body {
    overflow-x: hidden;
  }

}