.footer {
    background-color: black;
    margin-top: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 10px;
    flex-wrap: wrap;
}

.footer .info-div {
    margin-top: 50px;
}

.footer .info-div p {
    width: 250px;
}

.footer .info-div img {
    width: 80px;
    margin-left: 70px;
    border-radius: 10px;
}

.footer .info-div .social-icon {
    margin-top: 30px;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-around;
    margin-right: 25px;
}

.footer .info-div .social-icon  li {
list-style-type: none;
}

.footer .info-div .social-icon .facebook {
    color: blue;
    background-color: white;
    font-size: 40px;
    border-radius: 50%;
}

.footer .info-div .social-icon .instagram {
    color: white;
    background: linear-gradient(135deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);

   padding: 0;
   
    font-size: 40px;
    border-radius: 30%;
}

.footer .info-div .social-icon .whatsapp {
    color: white;
    background-color: green;
    font-size: 40px;
    border-radius: 50%;
}

.footer .footer-links {
    display: flex;
    justify-content: space-around;
    /* background-color: yellow; */
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
    margin-top: 70px;
}

.footer .footer-links .links ul {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}

.footer .footer-links h2 {
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: 20px;
    color: gold;
}

.footer .footer-links ul li {
    list-style-type: none;
    margin-top: 30px;
}

.footer .footer-links ul li a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    
}

footer .footer-lower {
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 60px;
}

footer .footer-lower .last-links {
    display: flex;
    justify-content: space-around;
    width: 45%;
}

footer .footer-lower .last-links li {
    list-style-type: none;
    margin-top: 20px;
}


footer .footer-lower .last-links li  a{
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    text-decoration: none;
}

footer .footer-lower p {
    font-size: 15px;
    /* background-color: yellow; */
    color: white;
    /* width: 50%; */
    margin-left: 120px;
    margin-top: 20px;
    font-family: sans-serif;
    font-weight: bold;
}



@media screen and (max-width:768px) {
    .footer {
        background-color: black;
        margin-top: 20px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: white;
        padding: 10px;
        flex-wrap: wrap;
    }
    
    .footer .info-div {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }
    
    .footer .info-div p {
        width: 250px;
        margin-left: 10%;
    }
    
    .footer .info-div img {
        width: 80px;
        margin-left: 35%;
        border-radius: 10px;
    }
    
    .footer .info-div .social-icon {
        margin-top: 30px;
        /* background-color: yellow; */
        display: flex;
        justify-content: space-around;
        margin-right: 25px;
    }
    
    .footer .info-div .social-icon  li {
    list-style-type: none;
    }
    
    .footer .info-div .social-icon .facebook {
        color: blue;
        background-color: white;
        font-size: 40px;
        border-radius: 50%;
    }
    
    .footer .info-div .social-icon .instagram {
        color: white;
        background: linear-gradient(135deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
    
       padding: 0;
       
        font-size: 40px;
        border-radius: 30%;
    }
    
    .footer .info-div .social-icon .whatsapp {
        color: white;
        background-color: green;
        font-size: 40px;
        border-radius: 50%;
    }
    
    .footer .footer-links {
        display: flex;
      
        flex-wrap: wrap;
        flex-direction: column;
        width: 50%;
        height: 100%;
        margin-top: 70px;
        gap: 50px;
        margin-left: 39%;
    }
    
    .footer .footer-links .links ul {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    
    }
    
    .footer .footer-links h2 {
        margin-bottom: 5px;
        font-family: sans-serif;
        font-size: 20px;
        color: gold;
    }
    
    .footer .footer-links ul li {
        list-style-type: none;
        margin-top: 10px;
    }
    
    .footer .footer-links ul li a {
        text-decoration: none;
        color: white;
        font-family: sans-serif;
        font-size: 15px;
        
    }
    
    footer .footer-lower {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-color: black;
        padding-left: 20px;
        position: relative;
        height: auto;
    }
    
    footer .footer-lower .last-links {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-bottom: 100px;
    }
    
    footer .footer-lower .last-links li {
        list-style-type: none;
        margin-top: 20px;
    }
    
    
    footer .footer-lower .last-links li  a{
        font-size: 15px;
        font-weight: bold;
        font-family: sans-serif;
        color: white;
        text-decoration: none;
    }
    
    footer .footer-lower p {
        font-size: 10px;
        /* background-color: yellow; */
        color: white;
        /* width: 50%; */
        

        font-family: sans-serif;
        font-weight: bold;
        position: absolute;
        top: 0;
        margin-left: 18%;
        margin-top: 100px;
    }
}